@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: rgb(10,252,9);
    background: linear-gradient(90deg, rgba(10,252,9,1) 0%, rgba(191,253,29,1) 100%);
}

.App {
    margin: 100px auto;
    text-align: center;
    max-width: 300px;
}
ul {
margin: 25px auto;
width: 300px;
}
li {
list-style-type: none;
margin: 20px auto;
word-wrap: break-word;
}
.confirme {
    text-decoration: line-through;
}